/* General Styles START */
*, *::before, *::after
{
    box-sizing: border-box;
    margin-top: 0;
}

html, body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 100%; /* To set the rem equal to any browser's default font-size */
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a
{
    text-decoration: none;
}

.btn /* For all the website's buttons */
{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    padding: 0.67em;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
}

.img
{
    background-repeat: no-repeat;
    background-size: contain;
}
/* General Styles END */


/* Header Styles START */
header
{
    background-color: white;
}

.website-links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.internal-links a, .login-and-cart-wrapper a
{
    display: inline-block;
}

.internal-links a, .brand-name, .login-and-cart-wrapper a
{
    text-transform: uppercase;
}

.internal-links
{
    padding: 0.625rem;
}

.internal-links a
{
    text-align: center;
    color: black;
    font-size: 1.125rem;
    font-weight: 450;
}

.internal-links a:hover
{
    text-decoration: underline;
}

.internal-links a + a
{
    margin-left: 0.625rem;
}

.brand-name
{
    font-size: ;
    color: ;
    font-style: italic;
}
/* Header Styles END */


/* Footer Styles START */
/* Footer Styles END */


/* index.html Styles START */
/* index.html Styles END */


/* about.html Styles START */
/* about.html Styles END */


/* contact.html Styles START */
/* contact.html Styles END */


/* login.html Styles START */
/* login.html Styles END */


/* shop.html Styles START */
/* shop.html Styles END */


/* Media Styles START */
/* Media Styles END */